body {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
}
body>div {
  margin: auto;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
body,
table,
input {
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
  font-size: 12px;
}

.video-js {
  width: 100%;
  height: 100%;
}
body[data-fullscreen=false] .vjs-fullscreen-control {
  display: none !important;
}

audio {
  width: 100%;
}

img {
  max-width: 80%;
  max-height: 90%;
}
