body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  overflow: auto;
}
body,
table,
input {
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
  font-size: 12px;
}
input {
  background: #fff;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  padding: 0 5px;
  margin: 1px;
  height: 28px;
  min-height: 28px;
  outline: none;
}
input[type=button] {
  cursor: pointer;
}
input:focus{
  border-color: rgba(0, 0, 0, 0.2);
}
input:active{
  border-color: rgba(0, 0, 0, 0.3);
}
input:invalid {
  border-color: red;
}
body[data-batch=true] input[data-id=name],
input:disabled {
  background: rgba(0, 0, 0, 0.05);
  pointer-events: none;
}

input[type=text] {
  flex: 1;
  width: 100%;
}
input[type=number] {
  width: 50px;
}

.firefox {
  display: none;
}
@-moz-document url-prefix() {
  .firefox {
    display: table-row;
  }
}

.icon-trash-empty,
.icon-folder-browse {
  width: 16px;
  height: 16px;
}

body>form {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
}
@media (max-width: 600px) {
  body>form {
    width: 90%;
  }
}
table {
  width: 100%;
}
#t1>tbody>tr>td:first-child {
  width: 120px;
}
@media (max-width: 600px) {
  #t1>tbody>tr>td:first-child {
    width: 70px;
  }
}
#t1>tbody>tr>td:last-child>div {
  display: flex;
  flex-wrap: wrap;
}
#t2 {
  border-collapse: collapse;
}
#t2 td:last-child {
  width: 20px;
}
#t2 td:last-child span {
  display: block;
  height: 26px;
  cursor: pointer;
  margin-left: 4px;
}
body[data-batch=true] #t2 td:last-child span {
  opacity: 0.3;
  pointer-events: none;
}
#t2 td:last-child span:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#t2 td:last-child span:active {
  background-color: rgba(0, 0, 0, 0.2);
}
#t2 td:last-child span:before {
  content: '\e80e';
  font-size: 120%;
  line-height: 26px;
}
#t2 tr:first-child td:last-child span:before {
  content: '\e80c';
}
#t2 tr:nth-child(2) {
  display: none;
}

#add {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  width: 100%;
  padding: 30px 0;
}

form:invalid>#add input {
  opacity: 0.3;
  pointer-events: none;
}

body[data-support=false] [support] {
  display: none;
}
body[data-sandbox=false] [sandbox] {
  display: none;
}

#info {
  margin-bottom: 15px;
}
